     /* 1. без указания ширины 2. 750px 3. 970px 4. 1170px */
     
      :root {
         --container-all-width: 1170px;
         --padding-left-right: 20px;
         --container-width: calc(var(--container-all-width) - var(--padding-left-right)*2);
         --one-column: calc(var(--container-width)/ 11);
         --half-column: calc(var(--one-column)/2);
         --transition: 0.3s;
     }
     
     .col-1 {
         width: calc(var(--one-column));
     }
     
     .col-2 {
         width: calc(var(--one-column) * 2);
     }
     
     .col-3 {
         width: calc(var(--one-column) * 3);
     }
     
     .col-4 {
         width: calc(var(--one-column) * 4);
     }
     
     .col-5 {
         width: calc(var(--one-column) * 5);
     }
     
     .col-6 {
         width: calc(var(--one-column) * 6);
     }
     
     .col-7 {
         width: calc(var(--one-column) * 7);
     }
     
     .col-8 {
         width: calc(var(--one-column) * 8);
     }
     
     .col-9 {
         width: calc(var(--one-column) * 9);
     }
     
     .col-10 {
         width: calc(var(--one-column) * 10);
     }
     
     .col-11 {
         width: calc(var(--one-column) * 11);
     }
     
     .col-12 {
         width: calc(var(--container-width));
     }
     
     .flex-vert-center {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
     
     .flex-horiz-center {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
     }
     
     .text-left {
         text-align: left
     }
     
     .text-center {
         text-align: center
     }
     
     .block-to-center {
         margin: 0 auto;
     }
     
     .brown-back {
         background-color: #826A5B;
     }
     
     .color-white {
         color: white;
     }
     
     .line-height-0 {
         line-height: 0;
     }
     
     button:active {
         opacity: .5;
         transition: 0.5;
     }
     
     .transparent-button {
         cursor: pointer;
         outline: none;
         padding: 0;
         border: none;
         background: transparent
     }
     
     .hide {
         display: none
     }
     /* @import url('https://fonts.googleapis.com/css2?family=Roboto:100;300;400;500;700;900&display=swap'); */
     
     * {
         font-family: 'Roboto', sans-serif;
     }
     
     body {
         width: var(--container-all-width);
         margin: 0 auto;
         background-color: #F3F3F3;
     }
     
     img {
         width: 100%;
     }