.shop {
    /* width: 100%; */
    padding: 50px 40px;
    position: relative;
}

.shop button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #636363;
}

.shop-search {
    width: 500px;
    height: 48px;
    font-size: 16px;
    padding: 20px;
    background-color: rgba(196, 196, 196, 0.3);
    border: none;
    border-radius: 5px;
    background-image: url(/images/magnifier.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 460px;
    background-size: 20px;
    outline: none;
}


/* --------------- */

.filter-block * {
    font-size: 15px;
}


/* .filter-block {
    margin-left: 16px;
} */

.main-shop-block {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.filter-group {
    margin-bottom: 30px;
    list-style: none;
    padding: 0;

    span {
        border: 1px solid rgb(167, 167, 167);
        margin-right: 10px;
        padding: 2px 6px;
        border-radius: 3px;

        input::after {
            content: "₽";
        }
    }

    input {
        border: none;
        width: 80px;
        background: transparent;
        outline: none;
    }

    p {
        font-weight: 600;
        margin-top: 0;
    }

    li {
        margin-bottom: 3px;
    }

    li input[type="checkbox"] {
        display: none;
    }

    li label {
        color: #000;
        cursor: default;
        font-weight: normal;
        line-height: 14px;
        padding: 10px 0;
        vertical-align: middle;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    li label::before {
        content: " ";
        color: #424040;
        display: inline-block;
        /* font: 20px/30px Arial; */
        margin-right: 8px;
        position: relative;
        text-align: center;
        text-indent: 0px;
        width: 14px;
        height: 14px;
        /* background: #FFF; */
        border: 1px solid #b9b9b9;
        border-image: initial;
        vertical-align: middle;
        border-radius: 4px;
    }

    input:checked+label:before {
        content: "✓" !important;
    }
}

.clear-filter {
    /* margin-top: 10px; */
    padding: 0;
}


input:disabled+.filter-group>li label::before {
    background: #eee;
    color: #aaa;
}


/* ------------- */

.footer-shop-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.active-pagination {
    background: #d6d6d6;
    width: 23px;
    height: 23px;
    border-radius: 3px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.goods-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 700px;
}

.product-card {
    background-color: white;
    width: 250px;
    height: 350px;
    margin: 0 14px 20px 0;
    border-radius: 7px;
    filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.2));
}

.product-card>.back-img {
    width: 70%;
    height: 60%;
    /* background-color: greenyellow; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
}

.description-block>.weight {
    position: relative;
    top: -315px;
    width: 36px;
    text-align: center;
    padding: 2px 5px;
}

.description-block {
    width: 80%;
    margin: 10px auto 0;
}

.description-block>.title {
    font-weight: 600;
}

.description-block>.description {
    font-size: 12px;
    margin-top: 5px;
    height: 43px;
    overflow: hidden;
}

.description-block>.price {
    font-size: 20px;
    margin-top: 5px;
    display: inline-block;
}

.description-block>.arrow-to-open {
    font-weight: 100;
    font-size: 18px;
    margin-left: 10px;
}


.shop>.disable {
    display: none !important;
    pointer-events: none;
}

.shop>.modal-detail {

    --size: 500px;
    --miniSize: 80px;

    background-color: rgba(255, 255, 255, 0.795);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 900px;
        height: 600px;
        padding: 40px;
        background-color: white;
        border-radius: 7px;
        filter: drop-shadow(3px 3px 4px rgb(218, 218, 218));
        position: relative;

        .close {
            position: absolute;
            top: 9px;
            right: 9px;
            width: 20px;
            height: 20px;
            background: url('/images/close.svg') center no-repeat;
            background-size: cover;
        }

        .flex-block {
            display: flex;
            justify-content: space-between;
        }

        .detail {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p#detail-description {
                text-align: left;
            }

            li {
                list-style: none;
                width: fit-content;
                padding: 2px 15px;
                background-color: #e4e4e4;
                border-radius: 10px;
                font-size: 11px;
                margin: 5px 5px 0 0;
                display: inline-block;

            }   

            .block {
                display: block;
                height: fit-content;
                width: fit-content;
                margin: 0 auto;
                text-align: center
            }

            ;

            h1 {
                margin: 0;
            }

            .stand {
                display: flex;

                .stand-group {
                    input {
                        display: none;
                    }
    
                    label {
                        border-radius: 7px;
                        margin: 8px 5px 0 0;
                        padding: 0px !important;
                        width: var(--miniSize);
                        height: var(--miniSize);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 1px solid rgb(179, 179, 179);
                        position: relative;
                        display: block;
    
                        
                    }

                    p {
                        width: var(--miniSize);
                        text-align: center;
                        color: black;
                        font-size: 13px;
                    }
    
                    input:checked+label:after {
                        content: "";
                        width: 35px;
                        height: 35px;
                        background: url(/images/check.svg) center no-repeat;
                        background-size: cover;
                        position: absolute;
                        font-size: 40px;
                        top: 22px;
                        left: 0px;
                        right: 0px;
                        margin: 0 auto;
                    }
                }
                
            }

            .to-order {

                #to-order-price {
                    font-size: 35px;
                    font-weight: normal;   
                    text-align: center;
                }
    
                #to-order-price::after {
                    content: "₽";
                    margin-left: 5px;
                }
                input {
                    width: 200px;
                    padding: 10px;
                    background: rgb(134, 88, 56);
                    font-weight: normal;
                    color: white;
                    font-size: 16px;
                    border-radius: 20px;
                    border: none;
                }
            }
        }

        .image-block {
            width: fit-content;
            position: relative;

            #image {
                width: var(--size);
                height: var(--size);
                border: 1px solid rgb(179, 179, 179);
                border-radius: 7px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            #detail-gallery {
                width: fit-content;
                height: 100px;
                margin: 0 auto;

                button {
                    border-radius: 7px;
                    margin: 8px 5px 0 0;
                    padding: 0px !important;
                    width: var(--miniSize);
                    height: var(--miniSize);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border: 1px solid rgb(179, 179, 179);
                    opacity: 0.4;
                }

                button.active {
                    opacity: 1;
                }
            }

            .arrows {
                justify-content: space-between;
                position: absolute;
                top: 240px;
                width: 100%;
                display: flex;
            }
        }
    }
}