form {
    width: 600px;
}

.input-block  {
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    margin: 20 0;
    /* background-color: rgb(209, 209, 209);
    padding: 10px; */
}

.input-block > input, .input-block > textarea {
    
    width: 100%;
    order: 1;
    margin-top: 5px;
    outline: none;
}

.input-block>input, .double-input-block>div>input  {
    height: 30px;
}

.double-input-block {
    display: flex;
}

.double-input-block>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.double-input-block>div>input {
    order: 1;
    width: 90%;
    margin-top: 5px;
    
}

.submit {
    width: 150px !important;
}

.alert {
    color: red;
}

.info {
    text-align: left !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    color: blue !important;
}