.shop {
    /* width: 100%; */
    padding: 50px 40px;
}

.shop button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #636363;
}

.shop-search {
    width: 500px;
    height: 48px;
    font-size: 16px;
    padding: 20px;
    background-color: rgba(196, 196, 196, 0.3);
    border: none;
    border-radius: 5px;
    background-image: url(/images/magnifier.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 460px;
    background-size: 20px;
    outline: none;
}


/* --------------- */

.filter-block * {
    font-size: 15px;
}


/* .filter-block {
    margin-left: 16px;
} */

.main-shop-block {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.filter-group {
    margin-bottom: 30px;
}

.clear-filter {
    /* margin-top: 10px; */
    padding: 0;
}

.filter-group>span {
    border: 1px solid rgb(167, 167, 167);
    margin-right: 10px;
    padding: 2px 6px;
    border-radius: 3px;
}

.filter-group>span>input {
    border: none;
    width: 80px;
    background: transparent;
    outline: none;
}

.filter-group>span>input::after {
    content: "₽";
}

.filter-group p {
    font-weight: 600;
    margin-top: 0;
}

.filter-group>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-group>ul>li {
    margin-bottom: 3px;
}

.filter-group>ul>li input[type="checkbox"] {
    display: none;
}


/* стили для метки */

.filter-group>ul>li label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 14px;
    padding: 10px 0;
    vertical-align: middle;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/* формируем внешний вид чекбокса в псевдоэлементе before */

.filter-group>ul>li label::before {
    content: " ";
    color: #424040;
    display: inline-block;
    /* font: 20px/30px Arial; */
    margin-right: 8px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 14px;
    height: 14px;
    /* background: #FFF; */
    border: 1px solid #b9b9b9;
    border-image: initial;
    vertical-align: middle;
    border-radius: 4px;
}


/* вариации внешнего вида в зав-ти от статуса checkbox */


/* checked */

input:checked+label:before {
    content: "✓" !important;
}


/* disabled */

input:disabled+.filter-group>ul>li label::before {
    background: #eee;
    color: #aaa;
}


/* ------------- */

.footer-shop-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.active-pagination {
    background: #d6d6d6;
    width: 23px;
    height: 23px;
    border-radius: 3px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.goods-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    width: 250px;
    height: 350px;
    margin: 0 14px 20px 0;
    border-radius: 7px;
    filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.2));
}

.product-card>.back-img {
    width: 70%;
    height: 60%;
    /* background-color: greenyellow; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
}

.description-block>.weight {
    position: relative;
    top: -320px;
    width: 30px;
    text-align: center;
}

.description-block {
    width: 80%;
    margin: 10px auto 0;
}

.description-block>.title {
    font-weight: 600;
}

.description-block>.description {
    font-size: 12px;
    margin-top: 5px;
    height: 55px;
}

.description-block>.price {
    font-size: 20px;
}