.hide {
    display: none !important;
}

.infotext {
    text-align: left;
    margin: 0 20px;
}

.infoimage {
    width: 100%;
    margin-bottom: 20px
}

.infoimage>img {
    width: 100%;
}

.separator {
    width: 15px;
    height: 5px;
    background-image: url(images/galleryinfo/separator.svg);
    margin: 40px auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.super-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 4;
    /* overflow: overlay; */
}

h3 {
    font-weight: 400 !important;
    margin-bottom: 10px;
}

.modal-block {
    width: fit-content;
    padding: 40px;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.466);
    background-color: white;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.modal-block>hr {
    margin: 20px 0;
    color: gray;
}

.modal-block>.super-model-buttons {
    display: flex;
}

.modal-block>.super-model-buttons>button {
    margin: 10px 5px 0 5px;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffcc00;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

#file-data-text {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

#file-data-text>span {
    font-size: 12px;
    font-weight: 100;
}

#file-data-text>img {
    width: 17px;
    transform: translate(-6px, 4px);
}

.super-modal-message {
    margin-bottom: 20px;
    text-align: center;
}

.close-modal-button {
    align-self: flex-end;
    margin-top: -25px;
    margin-right: -25px;
    margin-bottom: 5px;
}

.close-modal-button>button {
    background: transparent;
    outline: none;
    cursor: pointer;
    border: none;
}

.modal-img-block,
.gallery-image {
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 400px;
}

.modal-gallery-block {
    display: flex;
    align-items: center;
}

.modal-gallery-block>button.arrow {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px lightgray);
}


/* .modal-gallery-block>.gallery-image {
    overflow: hidden;
} */


/* .modal-gallery-block>.gallery-image>.gallery-line {
    position: relative;
    top: 0;
} */

.modal-gallery-block>.gallery-image>div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}